body
{
    background-image: url('572081.jpg');
    
}

table
{
    background-color: white;
    border: 1px solid black;
}

h1,h2
{
    text-align: center;
}



.table
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 2%;
}

td
{
    
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
 }
  